---
import Layout from "../layouts/Page.astro";
import Section from "../components/Section.astro";
---

<Layout title="Home" route="home">
    <Section className="">
        <div class="c">Hellow</div>
    </Section>
</Layout>

<style>

</style>
